.container-footer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  margin-bottom: 5px;
}

.container-footer p {
  margin-bottom: 0;
}

@media print {
  .container-footer {
    position: fixed;
    right: 20px;
    text-align: right;
    bottom: 0;
  }
}