* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 12px;
  background-color: white;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
  min-height: max-content;
  background-color: white;
  max-width: 794px;
  min-height: 1123px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-container {
  flex-grow: 1;
  margin: 0 21px 30px 21px;
}

.container-footer {
  position: absolute;
  right:0;
  float: right;
  visibility: hidden;
}

@media print {
  body {
    background-color: white;
  }
  /* div.container-footer {
    position: fixed;
    bottom: 0;
  } */
  /* header.container-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
  } */

  /* .page-container {
    margin-top: 100px;
  } */
  .container-footer {
    visibility: visible;
  }
}
