* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 12px;
  background-color: white;
}

div#root {
  height: 100%; /* remove this line to see div.app is no more 100% height */
  min-height: max-content;
  background-color: white;
  max-width: 794px;
  min-height: 1123px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-container {
  flex-grow: 1;
  margin: 0 21px 30px 21px;
}

@media print {
  body {
    background-color: white;
  }
  .page-print-container {
    margin-top: 100%;
    margin-bottom: 100%;
  }
}
